.values {
    font-size: clamp(28px, 5vw, 48px);
    line-height: clamp(28px, 5vw, 48px);
    font-weight: 700;
    color: var(--accent-color);
}

.text {
    font-size: clamp(14px, 5vw, 18px);
    line-height: clamp(20px, 5vw, 24px);
    color: var(--gray-color);
}

